# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
config.toml

# IDE
.idea/
phoenix_databases/
app/playground.py
*.prompt